@import 'tailwindcss';

:root {
  --background: #e8e8e8;
  --foreground: #1a1a18;
  --accent: #1a1a18;
  --card: #1a1a18;
  --card-shadow: #bfbfbf;
  --border: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-card-shadow: var(--card-shadow);
  --color-card: var(--card);
  --color-border: var(--border);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
